<div class="row">
  <div class="col-md-6">
    <h2>Log In</h2>

   <div id="container">
      <select id="dropdown1" name="category">
        <option value="volvo">Volvo XC90</option>
      </select>

   </div>

      <div id="container2">


   </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Category
  </button>
  <div id = "dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  </div>
</div>

</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

<script src="./js/results.js"></script>