<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h2 style="background-color:rgb(53, 54, 54)" class="text-white">Log In</h2>
    <form class="form login-form" class="col-sm-4 col-md-4 col-lg-4" class="w-25" style="background-color: dodgerblue;">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
  </div>

  <script src="./js/login.js"></script>