<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h2>Log In</h2>
    <form class="form login-form" class="col-sm-4 col-md-4 col-lg-4" style="background-color: aquamarine">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
  </div>

  <script src="./js/login.js"></script>